* {
    background-color: rgb(37, 37, 37);
    color: aliceblue;
    font-family: 'Tahoma', 'Trebuchet MS', sans-serif;
}

#main-page-title {
    font-size: 75px;
    font-weight: bold;
    margin: 24px auto;
}

.recipe-link {
    color: goldenrod;
    font-size: 20px;
    font-style: bold;
}

a {
    text-decoration: none;
    color: goldenrod;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

p,
li {
    font-size: 18px;
    padding: 5px;
    width: auto;
}

li {
    margin: 15px 25px;
}

ul,
ol {
    padding: 0;
}

img {
    padding: 10px;
    display: block;
    margin: auto;
}